*{
    margin: 0;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-image: url(/img/1642960322_1-phonoteka-org-p-fon-lesa-dlya-fotoshopa-1.jpg);
    background-position: center center;
    background-size: 100%;
    color:aqua;
}

.banner__title{
    margin: 30vh auto 0 auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    
}
.banner__text{
    width: 100%;
    margin: 5vh auto 0 auto;
    margin-top: 5vh;
    text-align: center;

}
.banner__btn{
    width: 100%;
    text-align: center;
}
.banner__btn button{
    height: 40px;
    width: 150px;
    margin-top: 5vh;
    background-color:rgb(32, 32, 32);
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    transition: 200ms;
}

.banner__btn button:hover{
    color:black;
    background-color:white; 
}