*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: aquamarine;
}
.test{
    width: 70vw;
    margin: auto;
}
h1{
    text-align: center;
}
.timer{
    position: fixed;
    top: 20px;
    right: 60px;
}
.result{
    position: fixed;
    top: 40px;
    right: 60px;
}
fieldset{
    padding: 10px;
    line-height: 25px;
    border-radius: 5px;
}
input{
    transition: 300ms;
}
.truth{
    background: rgba(0, 255, 0, 0.5);
}