*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
}

section{
    min-height: 100vh;
    width: 100%;
    background: aliceblue;
    position: relative;
}

.section__item{
    position: absolute;
    margin: 0 auto;
    height: 30vh;
    width: 30%;
    background:red;
    margin-top: 10vh;
}
.section__item:nth-child(1){
    background: black;
    left: 12%;
}
.section__item::after{
    content:'';
    position: absolute;
    border: 2px dashed #6248FF;
    border-top-right-radius: 30px;
    border-bottom: none;
    border-left: none;
    width: 100%;
    height: 50%;
    right: -100%;
    top: 30%;
}
.section__item:nth-child(2){
    right: 12%;
    top: 15vh;
}
.section__item:nth-child(3){
    background: black;
    left: 12%;
    top: 50vh;
}
.section__item:nth-child(4){
    right: 12%;
    top: 65vh;
}