* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Museo";
  src: url(fonts2/MuseoSansCyrl-500.ttf);
}
body {
  font-family: "Museo";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: "Museo";
  background: #6248FF;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms;
  color: white;
  text-transform: uppercase;
}
.btn:hover {
  background: #7181FC;
}

.header {
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  background: white;
  position: fixed;
  z-index: 15;
  top: 0;
  border-bottom: 1px solid grey;
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .logo {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
}
.header img {
  max-width: 100%;
}
.header .menu {
  width: 100%;
}
.header .menu__list {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
.header .menu__listItem {
  white-space: nowrap;
  width: 12%;
  height: 33%;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  cursor: pointer;
  transition: 300ms;
}
.header .menu__listItem:hover {
  font-size: 105%;
}
.header .language {
  height: 100%;
  width: 6%;
  display: flex;
  align-items: center;
}
.header select {
  height: 50%;
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid black;
  border-radius: 60px;
  padding: 5px;
}
.header .burger {
  position: relative;
  height: 24px;
  width: 32px;
  display: none;
}
.header .burger span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: black;
}
.header .burger span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  top: 4px;
}
.header .burger span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  bottom: 0px;
}
.header .btn__wrapper {
  margin-left: 25px;
  width: 18%;
  height: 50%;
  color: white;
  text-transform: uppercase;
}
.header .btn__wrapper .button {
  height: 100%;
  width: 100%;
}

.banner {
  background: #EFEDFF;
  min-height: 100vh;
  margin-top: 10vh;
  border-top: 1px solid transparent;
}
.banner .container {
  display: flex;
  gap: 50px;
}
.banner__left {
  width: 50%;
}
.banner__left h1 {
  width: 80%;
  font-weight: 600;
  font-size: 4em;
  line-height: 72px;
  margin-top: 20vh;
}
.banner__leftText {
  width: 74%;
  color: #4F4F4F;
  line-height: 30px;
  font-size: 1em;
  margin-top: 1em;
}
.banner__left button {
  width: 34%;
  height: 7vh;
  margin-top: 2.5em;
}
.banner__right {
  margin-top: 10vh;
  width: 40%;
}
.banner__right img {
  width: 100%;
  height: 100%;
}

.steps {
  min-height: 100vh;
  min-width: 100%;
}
.steps__wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.steps__item {
  background: white;
  width: 85%;
  min-height: 20vh;
  position: relative;
  border: 2px solid #6248FF;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20%;
  z-index: 10;
}
.steps__item::before {
  content: "01.";
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #6248FF;
}
.steps__subtitle {
  margin-top: 3%;
  font-weight: 600;
  font-size: 24px;
}
.steps__text {
  margin-top: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #4F4F4F;
}
.steps__title {
  margin-top: 2em;
  width: 40%;
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
}
.steps__title span {
  background: #EFEDFF;
}
.steps__left {
  width: 40%;
}
.steps__left .steps__item:nth-child(1n+1)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 35%;
  border: 2px dashed #6248FF;
  border-top-right-radius: 30px;
  border-bottom: none;
  border-left: none;
  top: 52%;
  left: 100%;
}
.steps__left .steps__item:nth-child(2) {
  z-index: 11;
}
.steps__left .steps__item:nth-child(2)::before {
  content: "03.";
}
.steps__right {
  width: 40%;
  height: 100%;
  margin-top: 12%;
}
.steps__right .steps__item:nth-child(1)::before {
  content: "02.";
}
.steps__right .steps__item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 35%;
  border: 2px dashed #6248FF;
  border-top-left-radius: 30px;
  border-bottom: none;
  border-right: none;
  top: 50%;
  right: 100%;
}
.steps__right .steps__item:nth-child(2) {
  z-index: 13;
}
.steps__right .steps__item:nth-child(2)::before {
  content: "04.";
}/*# sourceMappingURL=style2.css.map */