@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Museo";
  src: url(fonts2/MuseoSansCyrl-500.ttf);
}
body {
  font-family: "Museo";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  margin-top: 2em;
  width: 40%;
  font-weight: 600;
}
.title span {
  background: #EFEDFF;
}

.btn {
  font-family: "Museo";
  background: #6248FF;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms;
  color: white;
  text-transform: uppercase;
}
.btn:hover {
  background: #7181FC;
}

.header {
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  background: white;
  position: fixed;
  z-index: 15;
  top: 0;
  border-bottom: 1px solid grey;
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .logo {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
}
.header img {
  max-width: 100%;
}
.header .menu {
  width: 100%;
}
.header .menu__list {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
.header .menu__listItem {
  white-space: nowrap;
  width: 12%;
  height: 33%;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  cursor: pointer;
  transition: 300ms;
}
.header .menu__listItem:hover {
  font-size: 105%;
}
.header .language {
  height: 100%;
  min-width: 6vw;
  display: flex;
  align-items: center;
}
.header select {
  height: 50%;
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid black;
  border-radius: 60px;
  padding: 5px;
}
.header .burger {
  position: relative;
  height: 24px;
  width: 32px;
  display: none;
}
.header .burger span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: black;
}
.header .burger span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  top: 6px;
}
.header .burger span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  bottom: 2px;
}
.header .btn__wrapper {
  margin-left: 25px;
  width: 18%;
  height: 50%;
  color: white;
  text-transform: uppercase;
}
.header .btn__wrapper .button {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .header .container {
    justify-content: flex-end;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  .header .btn__wrapper {
    min-width: 20vw;
  }
  .header .burger {
    display: block;
  }
  .header .logo {
    display: none;
  }
  .header .menu {
    display: none;
  }
  .header .language {
    display: none;
  }
}
.banner {
  background: #EFEDFF;
  min-height: 100vh;
  margin-top: 10vh;
  border-top: 1px solid transparent;
}
.banner .container {
  display: flex;
  gap: 50px;
}
.banner__left {
  width: 50%;
}
.banner__left h1 {
  width: 80%;
  font-weight: 600;
  font-size: 4em;
  line-height: 72px;
  margin-top: 20vh;
}
.banner__leftText {
  width: 74%;
  color: #4F4F4F;
  line-height: 30px;
  font-size: 1em;
  margin-top: 1em;
}
.banner__left button {
  width: 16vw;
  height: 7vh;
  margin: 2.5em 0;
}
.banner__right {
  margin-top: 10vh;
  width: 40%;
}
.banner__right img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .banner {
    min-height: auto;
  }
  .banner h1 {
    font-size: 3rem;
    margin-top: 10vh;
    line-height: 50px;
  }
}
@media screen and (max-width: 769px) {
  .banner .container {
    flex-direction: column;
    row-gap: 0;
  }
  .banner__left {
    width: 100%;
    text-align: center;
  }
  .banner__left h1 {
    margin: 10vh auto 0 auto;
    line-height: 70px;
  }
  .banner__leftText {
    width: 60%;
    margin: 1rem auto;
  }
  .banner__left button {
    min-width: 30vw;
  }
  .banner__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner__right img {
    width: 50%;
    height: auto;
    margin-bottom: 5vh;
  }
}
.steps {
  min-height: 100vh;
  min-width: 100%;
}
.steps__wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.steps__item {
  background: white;
  width: 85%;
  min-height: 20vh;
  position: relative;
  border: 2px solid #6248FF;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20%;
  z-index: 10;
}
.steps__item::before {
  content: "01.";
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #6248FF;
}
.steps__subtitle {
  margin-top: 3%;
  font-weight: 600;
  font-size: 24px;
}
.steps__text {
  margin-top: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #4F4F4F;
}
.steps__title {
  font-size: 56px;
  line-height: 66px;
}
.steps__left {
  width: 40%;
  gap: 200px;
}
.steps__left .steps__item:nth-child(1n+1)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 35%;
  border: 2px dashed #6248FF;
  border-top-right-radius: 30px;
  border-bottom: none;
  border-left: none;
  top: 52%;
  left: 100%;
}
.steps__left .steps__item:nth-child(2) {
  z-index: 11;
}
.steps__left .steps__item:nth-child(2)::before {
  content: "03.";
}
.steps__right {
  width: 40%;
  height: 100%;
  margin-top: 12%;
}
.steps__right .steps__item:nth-child(1)::before {
  content: "02.";
}
.steps__right .steps__item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 35%;
  border: 2px dashed #6248FF;
  border-top-left-radius: 30px;
  border-bottom: none;
  border-right: none;
  top: 50%;
  right: 100%;
}
.steps__right .steps__item:nth-child(2) {
  z-index: 13;
}
.steps__right .steps__item:nth-child(2)::before {
  content: "04.";
}

@media screen and (max-width: 1000px) {
  .steps__title {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 769px) {
  .steps__title {
    font-size: 2rem;
  }
  .steps__subtitle {
    font-size: 18px;
  }
  .steps__text {
    font-size: 14px;
  }
  .steps__left .steps__item:nth-child(1)::after {
    top: 38%;
  }
}
.people {
  margin-top: 20vh;
}
.people .container {
  display: flex;
  justify-content: space-around;
  position: relative;
  border-bottom: 1px solid transparent;
}
.people__title {
  font-size: 56px;
  line-height: 66px;
  width: 45%;
  margin-top: 0;
}
.people__info {
  display: flex;
  align-items: center;
}
.people__img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/people.jpg);
  background-size: cover;
  background-position: center center;
}
.people__review {
  width: 45%;
}
.people__data {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.people__data span {
  font-weight: 400;
  color: #4F4F4F;
}
.people__message {
  position: relative;
  font-weight: 600;
  color: black;
  font-size: 24px;
  line-height: 29px;
}
.people__message .commes {
  position: absolute;
  width: 33px;
  height: 27px;
  background-image: url(./img/”.png);
  background-size: cover;
  left: -45px;
}
.people__message::after {
  position: absolute;
  content: "01/ 04";
  color: #6248FF;
  font-weight: 500;
  font-size: 15px;
  left: 0;
  bottom: -50px;
}
.people__circlesBtn {
  position: absolute;
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  left: 3%;
  top: 100%;
}
.people__circlesBtn .circle {
  height: 48px;
  width: 48px;
  border: 1px solid #6248FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people__circlesBtn .circle:nth-child(2) {
  transform: rotateY(180deg);
}

@media screen and (max-width: 1000px) {
  .people__title {
    font-size: 2.5rem;
  }
  .people__img {
    height: 50px;
    width: 50px;
  }
  .people__message {
    font-size: 20px;
    line-height: 23px;
  }
  .people .circle {
    height: 40px;
    width: 40px;
  }
}
.questions__title {
  margin: 20vh 0 10vh 0;
  font-size: 56px;
  line-height: 66px;
}
.questions__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.questions__wrapperItem {
  position: relative;
  height: 12vh;
  width: 78%;
  border: 2px solid #6248FF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
  color: #333333;
  font-weight: 500;
  font-size: 24px;
}
.questions__wrapperItem span {
  position: absolute;
  right: 5%;
}

.contact {
  margin-top: 15vh;
  min-height: 80vh;
  background: rgba(99, 72, 255, 0.1215686275);
  border: 1px solid transparent;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.contact__info {
  padding: 15vh 0 10vh 0;
  width: 40%;
  font-size: 18px;
  line-height: 30px;
}
.contact__infoTitle {
  font-weight: 600;
  font-size: 56px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 5vh;
}
.contact__infoSupport span {
  display: block;
  font-weight: 600;
  margin: 1vh 0;
}
.contact__form {
  margin: 15vh 0 5vh 0;
  position: relative;
  width: 50%;
  height: 81vh;
}
.contact__form form {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #6248FF;
  padding: 15%;
}
.contact__form form input {
  box-sizing: border-box;
  padding-left: 3%;
  outline: none;
  display: block;
  height: 10%;
  width: 100%;
  margin: 0 auto 5% auto;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}
.contact__form form input:nth-child(3) {
  height: 35%;
  padding-bottom: 18%;
  margin-bottom: 10%;
}
.contact__form form button {
  display: block;
  width: 35%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 auto;
  height: 15%;
}/*# sourceMappingURL=style2.css.map */