*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Museo';
    src: url(fonts2/MuseoSansCyrl-500.ttf);
}
body{
   font-family: 'Museo';
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.title{
    margin-top: 2em;
    width: 40%;
    font-weight: 600;
    span{
        background: #EFEDFF;
    }
}
.btn{
    font-family: 'Museo';
    background: #6248FF;
    border: none;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap; 
    cursor: pointer;
    transition: 300ms;
    color: white;
    text-transform: uppercase;
    &:hover{
        background: #7181FC;
    }
}
.header{
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    background: white;
    position: fixed;
    z-index: 15;
    top: 0;
    border-bottom: 1px solid grey;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 10%;
        height: auto;
        display: flex;
        align-items: center;
    }
    img{
        max-width: 100%;
    }
    .menu{
        width: 100%;
        &__list{
            height: 100%;
            display: flex;
            list-style: none;
            align-items: center;
            &Item{
                white-space: nowrap; 
                width: 12%;
                height: 33%;
                text-align: center;
                overflow: hidden;
                font-weight: 500;
                font-size: 15px;
                color: #333333;
                cursor: pointer;
                transition: 300ms;
                &:hover {
                    font-size: 105%;
                  }
            }
        }
    }
    .language{
        height: 100%;
        min-width: 6vw;
        display: flex;
        align-items: center;
    }
    select{
        height: 50%;
        width: 100%;
        outline: none;
        background: transparent;
        border: 1px solid black;
        border-radius: 60px;
        padding: 5px;
    }
    .burger{
        position: relative;
        height: 24px;
        width: 32px;
        display: none;
        span{
            display: inline-block;
            width: 100%;
            height: 2px;
            background:black;
            &::before{
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                background: black;
                top: 6px;
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                background: black;
                bottom: 2px;
            }
        }
    }
    .btn__wrapper{
        margin-left: 25px;
        width: 18%;
        height: 50%;
        color: white;
        text-transform: uppercase;
        .button{
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width:850px){
    .header{
        .container{
            justify-content: flex-end;
            column-gap: 5vw;
        }
        .btn__wrapper{
            min-width: 20vw;
        }
        .burger{
            display: block;
        }
        .logo{
            display: none;
        }
        .menu{
            display: none;
        }
        .language{
            display: none;
        }   
    }
}

.banner{
    background: #EFEDFF;
    margin-top: 10vh;
    border-top: 1px solid transparent;
    .container{
        display: flex;
        gap: 50px;
    }
    &__left{
        width: 50%;
        h1{
            width: 80%;
            font-weight: 600;
            font-size: 4em;
            line-height: 72px;
            margin-top: 20vh;
        }
        &Text{
            width: 74%;
            color: #4F4F4F;
            line-height: 30px;
            font-size: 1em;
            margin-top: 1em;
        }
        button{
            width: 16vw;
            height: 7vh;
            margin: 2.5em 0;
        }
    }
    &__right{
        margin-top: 10vh;
        width: 40%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width:768px) {
    .banner{
        .container{
            flex-direction: column;
            row-gap: 0;
        }
        &__left{
            width: 100%;
            text-align: center;
            & h1{
                margin: 10vh auto 0 auto;
                line-height: 70px;
            }
            &Text{
                width: 60%;
                margin: 1rem auto;
            }
            button {
                    min-width: 30vw;
            }
        }
        &__right{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            & img{
                width: 50%;
                height: auto;
                margin-bottom: 5vh;
            }
        }
    }
}

.steps{
    min-height: 100vh;
    min-width: 100%;
    &__wrapper{
        min-height: 100vh;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing:border-box;
        position: absolute;
        margin: 0 auto;
        width: 30%;
        background:rgb(252, 252, 252);
        border: 2px solid #6248FF;
        border-radius: 30px;
        padding: 20px;
        min-height: 23vh;

        // background: white;
        // width:85%;
        // min-height: 20vh;
        // position: relative;
        // border: 2px solid #6248FF;
        // border-radius: 30px;
        // padding: 20px;
        // margin-top: 20%;
        // z-index: 10;
        &::before{
            content: "01.";
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #6248FF;
        }
        &:nth-child(odd){
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                border: 2px dashed #6248FF;
                border-top-right-radius: 30px;
                border-bottom: none;
                border-left: none;
                top: 40%;
                left: 100%;
            }
        }
        &:nth-child(1){
            left: 12%;
            top: 6vh;
        }
        &:nth-child(2){
            right: 12%;
            top: 20vh;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                border: 2px dashed #6248FF;
                border-top-left-radius: 30px;
                border-bottom: none;
                border-right: none;
                top: 55%;
                right: 100%
            }
        }
        &:nth-child(3){
            left: 12%;
            top: 42vh;
                
        }
        &:nth-child(4){
            right: 12%;
            top: 58vh;
        }
    }
    &__subtitle{
        margin-top: 3%;
        font-weight: 600;
        font-size: 24px;
    }
    &__text{
        margin-top: 3%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #4F4F4F;
        overflow: auto;
        max-height:12vh;
    }
    &__title{
        font-size: 56px;
        line-height: 66px;
    }

}


.people{
    .container{
        display: flex;
        justify-content: space-around;
        position: relative;
        border-bottom: 1px solid transparent;
    }
    &__title{
        font-size: 56px;
        width: 45%;
        margin-top: 0;
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./img/people.jpg);
        background-size: cover;
        background-position: center center;
    }
    &__review{
        width: 45%;
    }
    &__data{
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: black;
        span {
            font-weight: 400;
            color: #4F4F4F;;
        }
    }
    &__message{
        position: relative;
        font-weight: 600;
        color: black;
        font-size: 24px;
        line-height: 29px;
        .commes{
            position: absolute;
            width: 33px;
            height: 27px;
            background-image: url(./img/”.png);
            background-size: cover;
            left: -45px;
        }
        &::after{
            position: absolute;
            content: '01/ 04';
            color: #6248FF;
            font-weight: 500;
            font-size: 15px;
            left: 0;
            bottom: -50px;
        }
    }
    &__circlesBtn{
        position: absolute;
        width: 120px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        left: 3%;
        top:100%;
        .circle{
            height: 48px;
            width: 48px;
            border: 1px solid #6248FF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(2){
                transform: rotateY(180deg);
            }
        }
    }

}


.questions{
    &__title{
        margin: 20vh 0 10vh 0;
        font-size: 56px;
    }
    &__wrapper{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
        &Item{
            position: relative;
            height: 12vh;
            width: 78%;
            border: 2px solid #6248FF;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 0 0 0 40px;
            color: #333333;
            font-weight: 500;
            font-size: 24px;
            span{
                position: absolute;
                right: 5%;
            }
        }
    }
}
.contact{
    margin-top: 15vh;
    min-height: 80vh;
    background:#6348ff1f;
    border:1px solid transparent;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        padding: 15vh 0 10vh 0;
        width: 40%;
        font-size: 18px;
        line-height: 30px;
    }
    &__infoTitle{
        font-weight: 600;
        font-size: 56px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 5vh;
    }
    &__infoSupport{
        span{
            display: block;
            font-weight: 600;
            margin:1vh 0;
        }
    }
    &__form{
        margin: 15vh 0 5vh 0;
        position: relative;
        width: 50%;
        height: 81vh;
        form{
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(245, 244, 244);
            border-radius: 20px;
            border: 2px solid #6248FF;
            padding: 15%;
            input{
                box-sizing:border-box;
                padding-left: 3%;
                outline: none;
                display: block;
                height: 10%;
                width: 100%;
                margin: 0 auto 5% auto;
                border: 1px solid #E0E0E0;
                border-radius: 3px;
                &:nth-child(3){
                    height: 35%;
                    padding-bottom: 18%;
                    margin-bottom: 10%;
                }
            }
            button{
                display: block;
                width: 35%;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                margin: 0 auto;
                height: 15%;
            }
        }
    }
}





@media screen and (max-width:1000px){
    .title{
        font-size: 2.5rem;
        line-height: normal;
    }
    .banner{
        min-height: auto;
        h1{
            font-size: 3rem;
            margin-top: 10vh;
            line-height: 50px;
        }
    }
    .people{
        &__title{
            width: 100%;
        }
        &__message{
            font-size: 20px;
            line-height: 23px;
        }
        .circle{
            height: 40px;
            width: 40px;
        }
    }
    .questions__wrapperItem{
        font-size: 22px;
        height: 10vh;
    }
    .contact__info{
        line-height: 20px;
        &Support{
            .support,.help,.owned{
                margin-bottom: 1vh;
            }
        }
    }

}

@media screen and (max-width:768px){
    .steps{
        &__title{
            width: 100%;
        }
        &__item{
            width: 37%;
            &:nth-child(-n+3):after{
                width: 70%;
            }
        }
        &__subtitle{
            font-size: 18px;
        }
        &__text{
            font-size: 14px;
            line-height: 18px;
        }
    }
    .people{
        .container{
            display: flex;
            flex-direction: column;
        }
        &__info{
            flex-direction: column;
        }
        &__review{
            width: 100%;
            margin: 0 auto;
        }
        &__data{
            margin: 1rem 0 0 0;
            line-height: 25px;
            text-align: center;
        }
        &__message{
            width: 57%;
            text-align: center;
            margin: 0 auto;
            margin-top: 3rem;
            &::after{
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .commes{
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -2rem;
            }
        }
        &__circlesBtn{
            width: 90%;
            top: 65%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .questions{
        &__title{
            width: 100%;
        }
        &__wrapper{
            &Item{
                padding: 0 0 0 15px;
                font-size: 17px;
                height: 8vh;
            }
        }
    }
    .contact{
        .container{
            flex-direction: column;
        }
        &__infoTitle{
            text-align: center;
        }
        &__info{
            margin: 0 auto;
            width: 70%;
        }
        &__form{
            height: 70vh;
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            form{
                position: static;
                width: 80%;
                height: 90%;
                padding: 10%;
            }
        }
    }
}