*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Museo Sans";
    src: url(fonts/MuseoSansCyrl-500.ttf);
}
body{
    font-family: "Museo Sans";
}
.container{
    width: 1200px;
    margin: auto;
}
.header{
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 3px rgb(71, 71, 71);
    background:white;
    &__logo{
        margin-left: 80px;
        line-height: 80px;
    }
}
.menu{
    margin-left: 57px;
    &__list{
    display: flex;
    width: 600px;
    height: 100%;
    list-style: none;
    justify-content: space-between;
    line-height: 80px;
}

.menu__item{
    cursor: pointer;
    transition: 300ms;
    &:hover{
        margin-bottom: 5px;
        font-size: calc(+110%);
    }
}
// .language{
//     width: 80px;
//     height: 34px;
//     border: 1px solid black;
}
.language{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 40px;
    margin: 20px 0 20px 240px;
    border: 1px solid black;
    border-radius: 60px;
    padding: 5px 10px;
    &__arrow{
        margin-left: 13px;
    }
}
.sign{
    width: 167px;
    height: 40px;
    margin: 20px 60px 20px 30px;
    &__btn{
        height: 100%;
        width: 100%;
        border-radius:60px;
        background: #6248FF;
        border:none;
        text-transform: uppercase;
        color: white;
        transition: 300ms;
        cursor: pointer;
        &:hover{
            background: #8d79ff;
        }
    }   
}
.banner{
    background: #EFEDFF;
    min-height: 87vh;
    margin-top: 80px;
    width: 100%;
    border-top: 1px solid transparent;
    .container{
        display: flex;
    }
    &__left{
        width: 50%;
        height: 87vh;
    }
    &__title{
        width: 585px;
        height: 215px;
        margin-top: 100px;
    
        h1{
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 72px;
            color: #333333;
        }
    }
    &__subtitle{
        width: 450px;
        height: 60px;   
       margin-top: 20px; 
       font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #4F4F4F;
    }
    .demo__btn{
        width: 245px;
        height: 54px;
        background: #6248FF;
        border-radius: 60px;  
        border:none;
        margin-top: 40px;
        text-transform: uppercase; 
        font-family: 'Museo Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;      
        color: white;
        cursor: pointer;
        transition: 300ms;
        letter-spacing: 1px;
        &:hover{
            background: #7181FC;
        }
    }
    &__right{
        width: 50%;
        height: 87vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid transparent;
        .diagram{
            height: 480px;
            width: 450px;   
            background: url(img/schedule.png);
            background-size: 90% 90%;
            background-repeat: no-repeat;
            background-position: center center;
            margin-top: 60px;
        }
    }

}
.steps{
    min-height: 100vh;
    background: white;
    width: 100%;
    border-top: 1px solid transparent ;
    &__title{
        width: 480px;
        height: 130px;
        margin-top: 130px;
        font-family: 'Museo Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 66px;
        span{
            background: #EFEDFF;
        }
    }
    &__wrapper{
        min-height: 100vh;
        width: 100%;
        display: flex;
        margin-top: 60px;
    }
    &__left{
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        row-gap: 130px;
        .steps__item{
            position: relative;
            width: 483px;
            height: 203px;
            border: 2px solid #6248FF;
            border-radius: 30px;
            padding: 32px;
            &::before{
                content: '';
                width: 350px;
                height: 65px;
                position: absolute;
                border: 2px dashed #6248FF;
                right: -74%;
                bottom: 25%;
                border-top-right-radius: 30px;
                border-bottom: none;
                border-left: none;
            }
            &:nth-child(1)::after{
                content: '01.';
            }
            &:nth-child(2)::after {
                content: "03.";
            }
        }

    }
    &__right{
        width: 50%;
        min-height: 100vh;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        row-gap: 130px;
        .steps__item{
            position: relative;
            width: 483px;
            height: 203px;
            border: 2px solid #6248FF;
            border-radius: 30px;
            padding: 30px;
            &::before{
                content: '';
                width: 350px;
                height: 65px;
                position: absolute;
                border: 2px dashed #6248FF;
                left: -74%;
                bottom: 15%;
                border-top-left-radius: 30px;
                border-bottom: none;
                border-right: none;
            }
            &:nth-last-child(1)::before{
                border: none;
            }
            &:nth-child(1)::after{
                content: '02.';
            }
            &:nth-child(2)::after {
                content: "04.";
              }
        }
    }
    .steps__item{
        height: 230px;
        &::after{
            content: '01.';
            position: absolute;
            left: 32px;
            top: 30px;
            width: 22px;
            height: 18px;
            font-family: 'Museo Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #6248FF;
        }
    }
    .steps__subtitle{
        margin-top: 26px;
        font-family: 'Museo Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }
    .steps__text{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #4F4F4F;
        margin-top: 20px;
    }
}
.people{
    margin-top: 140px;
    .container{
        display: flex;
    }
    &__review{
        margin-left: 130px;
    }
    &__title{
        width: 480px;
        // height: 130px;
        .text{
            font-family: 'Museo Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 66px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                background: #6248FF;
                opacity: 0.1;
                width: 350px;
                height: 70px;
                bottom: -5px;
            }
        }
    }
    &__toggle{
        display: flex;
        margin-top: 40px;
        column-gap: 15px;
        .circles{
            height: 48px;
            width: 48px;
            border: 2px solid #ebdede;
            border-radius: 50%;
            background: url(img/Vector.png) no-repeat center;
            &:nth-child(2){
                transform: rotate(180deg);
            }
        }
    }
    &__info{
        display: flex;
    }
    &__img{
        height: 73px;
        width: 73px;
        background: url(img/1275e156484ee1fc7dcc1af28a4a348e-wide-big.jpg) no-repeat;
        background-size: 150% 110%;
        background-position: center center;
        border-radius: 50%;
        margin-right: 30px;

    }
    &__data{
        color: #333333;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        span{
            color: #4F4F4F;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;

        }
    }
    &__message{
        width: 560px;
        font-family: 'Museo Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: #333333;
        margin-top: 10px;
    }
}
