*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 80vw;
  margin: auto;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-row-gap: 30px;
}
.grid__item{
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 150%;
}
.grid__item img{
  height: 100px;
  width: 100px;
  margin-right: 50px;
}
.grid__item a{
  text-decoration: none;
  color: grey;
}